{% assign sorted_pages = site.pages | sort:"ordernumber"%}
<header class="relative">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ site.baseurl }}/">
      <img src="{{ site.baseurl }}/img/LeroOSPO-logo.png" class="logo" alt="Lero-OSPO">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        {% for node in sorted_pages %}
          {% if page.url == node.url %}
            <li class="nav-item active">
              <a class="nav-link" href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </nav>
  <div class="sfi-banner">
    <img src="{{ site.baseurl }}/img/SFI Logo.png" class="sfi-img" />
  </div>
</header>
