$color-p:#191D63;
$gradient:linear-gradient(75.41deg, #006FB9 -12.94%, #0A67B3 2.82%, #2552A4 32.38%, #51308B 67.85%, #5F2684 77.7%, #E40571 144.69%);
body{
    font-family: 'Open Sans', sans-serif;
    @extend .bg-light;
    // overflow-x: hidden;
}
.btn-lero{
    color:white;
    background: linear-gradient(46.23deg, #0F5FB2 0.93%, #B40C60 99.77%);
    border:none;
    transition: all 600ms ease-in-out;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.15);
    &:hover{
        background: linear-gradient(-46deg, #0F5FB2 0.93%, #B40C60 99.77%);
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.10);
        color: white;
    }
}
.btn-lero-outline{
background: transparent;
border-color:#B40C60;
transition: all 600ms ease-in-out;
&:hover{
    color:white;
    background: linear-gradient(46.23deg, #0F5FB2 0.93%, #B40C60 99.77%); 
}
}
.custom-container{
    width: 100%;
   padding: 0 200px ;
   margin-left: auto;
   margin-right: auto;
}
@media only screen and (max-width: 768px){
    .custom-container{
       padding: 0 24px ;
    }  
}
.text-14{
    font-size: 14px;
}
.ic-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 8px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.151);
    i{
        font-size: 18px;
        line-height: 0;
        color: grey;
        transition:color 300ms ease-out;
    }
    &.gh:hover{
        i{
            color:#171515;
        }
    }
    &.tw:hover{
        i{
            color:#1DA1F2;
        }
    }
    &.fb:hover{
        i{
            color:#3b5998;
        }
    }
    &.em:hover{
        i{
            color:#b92d02;
        }
    }
}
.pp{
    width: 200px;
    height: 200px;
    border: 5px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    >img{
        width: 183px !important;
        height: 183px !important;
        border-radius: 50%;
    }
    &.small{
        position: relative;
        width:150px;
        height: 150px;
        border: 5px solid #0067B9;
        padding: 10px;
        >img{
            width: 140px !important;
            height: 140px !important;
        }
    }
}

.member-block{
    display: flex;
    width: fit-content;
    justify-content: flex-start;
    padding: 1rem;
    background: white;
     border-radius: 16px;
    margin-bottom: 1rem;
    transition: box-shadow 300ms ease-in;
    text-decoration: none !important;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    @media only screen and (max-width: 768px){
        &.hor{
            flex-direction: column;
            width: 100%;
            .member-info{
                width: 100% !important;
            }
            .member-details{
                p{
                    margin: 0;
                    margin-bottom: 16px;
                    width: 100% !important;
                    text-align: center;
                }
                .bottom{
                    position: relative !important;
                    width: 100% !important;
                }
            }
        }
    }
    &.hor{
        position: relative;
        .member-details{
            p{
                -webkit-line-clamp: 6; /* number of lines to show */
                line-clamp: 6; 
                -webkit-box-orient: vertical;
            }
        }
        .member-info{
            width: 200px;
        }
        .bottom{
            position: absolute;
            bottom: 16px;
            width:calc(100% - 238px);
        }
    }
    &.ver{
        flex-direction: column;
        width: 100%
    }
    .member-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 16px;
        h6{
            margin-bottom: 2px;
        }
        p{
            margin-bottom: 8px;
            font-size: 12px;
            line-height: 14px;
        }
        label{
            font-weight: 300;
            font-size: 14px;
        }
    }
    .member-details{
        p{
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 4; /* number of lines to show */
                    line-clamp: 4; 
            -webkit-box-orient: vertical;
                    }
                    text-align: center;
    &.fw{
        p{
            width: 300px;
            text-align:left;
        }
    }
}
&:hover{
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.103);
    cursor: pointer;
}
}

.resource{
    list-style-type: none;
    padding:0 100px;
    margin-bottom: 60px;
    &__item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px 0;
        border-bottom: 1px solid #BDBDBD;
        .name{
            font-weight: 600;
        }
    }
}
.block{
    display: flex;
    flex-direction: column;
    padding: 24px 100px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    transition: background 300ms ease;
    background: transparent;
    cursor: pointer;
    text-decoration: none !important;
    margin-bottom: 1rem;

    h4{
        margin-bottom: 0;
        color:#171515;
        text-decoration: none !important;
    }
    &:hover{
        background: white;
    }
}
.ic-big{
    display: flex;
    background: $gradient;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 8px;
   
}
a.back{
    position: absolute;
    left: 80px;
    top: 20px;
    cursor: pointer;
    font-size: 32px;
    font-weight: 600;
    color:black;
}

a.back-v2{
    line-height: 24px; 
    cursor: pointer;
    font-size: 32px;
    font-weight: 600;
    color:black;
}

.card{
    border: none;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
   overflow:hidden;
   border-radius:20px;
   min-height:450px;
     box-shadow: 0 0 12px 0 rgba(0,0,0,0.2);
  
   @media (max-width: 768px) {
    min-height:350px;
  }
  
  @media (max-width: 420px) {
    min-height:300px;
  }
  
   &.card-has-bg{
   transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    background-size:120%;
    background-repeat:no-repeat;
    background-position: center center;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: inherit;
      -webkit-filter: grayscale(1);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);}
  
    &:hover {
      transform: scale(0.98);
       box-shadow: 0 0 5px -2px rgba(0,0,0,0.3);
      background-size:130%;
       transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  
      .card-img-overlay {
        transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
        background: rgb(35,79,109);
        background:linear-gradient(0deg, #006fb9ab -12.94%, #0a67b3b2 2.82%, #2551a4a1 32.38%, #51308b85 67.85%, #5e26848f 77.7%, #e40571c0 144.69%);
       }
    }
  }
   .card-footer{
    background: none;
     border-top: none;
      .media{
       img{
         border:solid 3px rgba(255,255,255,0.3);
       }
     }
   }
   .card-meta{color:#d9deff}
   .card-body{ 
     transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
     h4 a{
        text-decoration: none !important;
     }
  }
   &:hover {
     .card-body{
       margin-top:30px;
       transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
     }
   cursor: pointer;
   transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  }
   .card-img-overlay {
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
   background: rgba(0, 0, 0, 0.76);
//   background: linear-gradient(0deg, rgba(35,79,109,0.3785889355742297) 0%, rgba(69,95,113,1) 100%);
  background:linear-gradient(0deg, #006fb9c9 -12.94%, #0a67b3d5 2.82%, #2551a4d0 32.38%, #51308bbb 67.85%, #5e2684c7 77.7%, #e40571c7 144.69%);
  }
  }
  @media (max-width: 767px){
    
  }
  .event-img{
    width: 100%;
    height: 45vh;
    background-size: auto;
    position: relative;
    .titles{
        position: absolute;
        bottom: 32px;
        left: 32px;
    }
    .back{
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.285);
        background-color: white;
        i{
            position: relative;
            bottom: 2px;
        }
    }
    h2,h3{
        text-shadow: 2px 2px 7px rgb(0, 0, 0);
    }
  }