#carouselExampleSlidesOnly{
    #discription{
        position: absolute;
        bottom: 40px;
        left:100px;
        color: white;
    }
}
.colored{
    padding: 2rem 0;
    background: linear-gradient(46.23deg, #0F5FB2 0.93%, #B40C60 99.77%);
    p{
        text-align: justify;
    }
    
}
.quote{
    font-size: 28px;
    font-weight: 800;
}
