---
layout: default
---
{%assign sorted_events = site.events | sort: "date" %}

<section>
  <div class="event-img" style={% if page.default_image %} "background-image:url('/OSPO/img/events/{{page.default_image}}');" {% else %}  "background-image:url('/OSPO/img/events/{{page.image}}');" {% endif%}>
    <a class="back" href="{{ site.baseurl}}/Training/">
      <i class="bi bi-arrow-left-short "></i>
    </a >
    <div class="titles">
      <h2 class="text-white">{{page.name}}</h2>
      <h3 class="text-white">{{page.start_date  | date: "%-d %B %Y"}} {% if page.end_date %} - {{page.end_date  | date: "%-d %B %Y" }} {% endif %}</h3>
    </div>
  </div>
</section>
<div class="row justify-content-center">
  <div class="col-md-7 col-sm-12">
    <table class="table table-borderless mt-4">
      <tr>
        <td class="text-nowrap text-muted">Event Name</td>
        <td>:</td>
        <td>{{page.name}}</td>
      </tr>
      <tr>
        <td class="text-nowrap text-muted">Event details</td>
        <td>:</td>
        <td>
          <p>
            {{page.short_description}}
          </p>
          <p>
            {{page.detailed_description}}
          </p>
        </td>
      </tr>
      <tr>
        <td class="text-nowrap text-muted">Event venue</td>
        <td>:</td>
        <td>{{page.venue}}</td>
      </tr>
    </table>
  </div>
</div>
